.directory

# Ignore python compiled files
*__pycache__/
*.pyc

# Ignore autosave and useless blender models
mdl/*.blend1
mdl/*.blend2
mdl/other/*

# Ignore population models created for simulation
mdl/*_pop.blend
mdl/other/*_pop.blend

# Ignore saved simulations
save/*

# Ignore blender binaries
bin/blender*
bin/Blender*

# Ignore IDE folders
.idea
