.directory

# Ignore python compiled files
src/__pycache__/
src/*.pyc

# Ignore autosave and useless blender models
mdl/*.blend1
mdl/*.blend2
mdl/other/*

# Ignore population models created for simulation
mdl/other/*_pop.blend

# Ignore saved simulations
save/*

# Ignore blender binaries
bin/blender*
bin/Blender*


