# Ignore python compiled files
__pycache__/

# Ignore autosave from blender
*.blend1
*.blend2

# Ignore saved simulations
saved_sim/*

# Ignore blender binaries
blender-*/*

# Ignore population models created for simulation
*_pop.blend
